
.flex1{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    align-items: stretch;

}

.flex2{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    /*align-items: stretch;*/
}

.flex3{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;


}

.flex_box45{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    margin: 10px;
    align-self: flex-start;
}


.box1, .box2, .box3, .box4, .box5, .box6, .box7, .hidebox{
    border: #31b52a 1px solid;
    margin: 10px;
    /*height: 100px;*/
    text-align: center;
}

.box4, .box5{
    width: 100px;
    margin: 0px;
}

.box6, .box7{
    width: 239px;
}

.box1{
    width: 500px;
}

.box2{
    width: 100px;
}

.box3{
    width: 500px;
}

.box4{
    margin-bottom: 29px;
}

.box5{

}

.hidebox{
    width: 100px;
    border: hidden;
}




.grid1 {
    display: grid;
    justify-content: center;
    grid-template-areas: "gbox1 gbox1 gbox2"
                        "gbox1 gbox1 gbox2"
                        "gbox3 gbox3 gbox4"
                        "gbox3 gbox3 gbox5"
                        "gbox6 gbox7 hidegbox2";
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(3, 250px);
}
.gbox1 {
    grid-area: gbox1;
    /*width: 500px;*/
    /*height: 100px;*/

}
.gbox2 {
    grid-area: gbox2;
    width: 100px;
    /*height: 100px;*/
    /*margin-top: 20px;*/
}
.gbox3 {
    grid-area: gbox3;
    /*height: 100px;*/

}
.gbox4 {
    grid-area: gbox4;
    grid-row: span;
    height: 20px;
    width: 100px;

}
.gbox5 {
    grid-area: gbox5;
    height: 20px;
    width: 100px;
    align-self: flex-end;
}
.gbox6 {
    grid-area: gbox6;
    height: 20px;
}
.gbox7 {
    grid-area: gbox7;
    height: 20px;
 }
.hidegbox{
    /*border: #31b52a 1px solid;*/
    grid-area: hidegbox;
}
.hidebox2{
    /*border: #31b52a 1px solid;*/
    grid-area: hidegbox2;
}

.gbox1 , .gbox2 , .gbox3 , .gbox4 , .gbox5 , .gbox6 , .gbox7{
    border: #31b52a 1px solid;
    margin: 10px;
    text-align: center;
}

