

body{
    background: black;
}

.main{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    align-items: center;
    position: absolute;

    text-align: center;

    --neon-border-color: #08f;

}

.username, .pass
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;

    display: block;
    height: 40px;
    width: 250px;
    vertical-align: middle;

    border-radius: 10px;


    font-size: 14px;
    color: #fd68ff;
}

.username {
    margin-top: 55px;

}

.pass{
    margin-top: 20px;
}

.loginBut{
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    color: #ff0013;
    border: 2px solid #ff0013;
    background: black;
}

.username::-webkit-input-placeholder {
    color: transparent;
    transition: 1s;
}

.username:focus::-webkit-input-placeholder{
    color: #fd68ff;
    padding-left: 20px;
    transition: 1s;

}

.pass::-webkit-input-placeholder {
    color: transparent;
    transition: 1s;
}

.pass:focus::-webkit-input-placeholder{
    color: #fd68ff;
    padding-left: 20px;
    transition: 1s;

}





.username, .pass {
    background: black;
    border: 2px solid #fd68ff ;


}
.username, .pass::-moz-selection {
    background-color: var(--neon-border-color);
}

 .main {
    box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 .5rem #fff,
            0 0 2rem #009fff,
            inset 0 0 2rem #009fff,
            0 0 4rem #009fff;
}

.username, .pass{
    box-shadow:
            inset 0 0 1rem #fd68ff,
            0 0 1rem #fd68ff;
}

.loginBut{
    box-shadow:
            0 0 1rem #ff0013,
            inset 0 0 1rem #ff0013,
            0 0 1rem #ff0013;
}
