.table{
    background: rgb(140,190,184);
    background: linear-gradient(17deg, rgba(140,190,184,0.9345939059217437) 0%, rgba(123,143,195,1) 36%, rgba(132,148,201,1) 62%, rgba(183,141,189,0.9261905445772058) 100%);

    text-align: left;
    border-color:  #6c3d96 ;
    border-style: outset ;
    overflow: hidden;
    border-image: linear-gradient(17deg, rgba(140,190,184,0.9345939059217437) 0%, rgba(123,143,195,1) 36%, rgba(132,148,201,1) 62%, rgba(183,141,189,0.9261905445772058) 100%);
    border-image-slice: 1;

}

div{
    margin: auto;
    background: #eee;

    border: 5px solid transparent;

    -moz-border-image: -moz-linear-gradient(top left, rgba(140,190,184,0.9345939059217437) 0%, rgba(123,143,195,1) 36%, rgba(132,148,201,1) 62%, rgba(183,141,189,0.9261905445772058) 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, rgba(140,190,184,0.9345939059217437) 0%, rgba(123,143,195,1) 36%, rgba(132,148,201,1) 62%, rgba(183,141,189,0.9261905445772058) 100%);
    border-image: linear-gradient(to bottom right, rgba(140,190,184,0.9345939059217437) 0%, rgba(123,143,195,1) 36%, rgba(132,148,201,1) 62%, rgba(183,141,189,0.9261905445772058) 100%);

    border-image-slice: 1;
}




th{
    border: 0px;
    background: rgb(75,103,176);
    height: 30px;
    width: 30px;

}

td{
    border: 0px;
}

tr{
    border: 0px;
    color: white;
    height: 40px;
    width: 30px;
}



td, th {

    position: relative;
}


tbody tr:hover {
    background: rgba(255,252,253,0.36);
}

tbody td:hover:after,
tbody td:focus:after{
    content: "";
    position: absolute;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    background: rgba(255,252,253,0.36);
    z-index: -1;
}

tr:hover {
    background: rgba(255,252,253,0.36);
    opacity: 0.5;
}


